@model Nop.Plugin.Widgets.ImageViewer.Models.PublicInfoModel

@{
    var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
    var link = ViewData["link"]?.ToString() ?? "";
    var dataTransition = ViewData["dataTransition"]?.ToString() ?? "";
    var text = ViewData["text"]?.ToString() ?? "";
    var alttext = ViewData["alttext"]?.ToString() ?? "";

    if (!string.IsNullOrEmpty(pictureUrl))
    {
        if (!string.IsNullOrEmpty(link))
        {
            //style="  display: flex; justify-content: center; align-items: center;"
            <marquee>
                <div>
                    <a href="@link" aria-label="@alttext">
                        <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="@alttext" title="@text" style="max-width: 2000px; max-height: 300px; " />
                    </a>
                </div>
            </marquee>
        }
        else
        {
            <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="@alttext" title="@text" />
        }
    }
}